# langchain
# langchain-huggingface
# langchain-community
# sentence-transformers
# streamlit
# python-dotenv
# #torch==2.3.0
# transformers
# huggingface_hub
# langchain_community
# faiss-cpu
# groq
# langchain-core
# langchain-text-splitters
# packaging

langchain==0.2.1
langchain-huggingface==0.0.3
langchain-community==0.2.1
sentence-transformers==2.7.0
streamlit==1.33.0
python-dotenv==1.0.1
#torch==2.3.0
torch==2.6.0
transformers==4.41.2
huggingface_hub==0.22.2
faiss-cpu
groq
streamlit
langchain_core
langchain-text-splitters
langchain-huggingface
pypdf
unstructured==0.17.2